@font-face{
    font-family: 'Pacifico';
    src: url(../fonts/Pacifico.ttf);
}
@font-face {
    font-family: 'Fredoka';
    src: url(../fonts/Fredoka.ttf);
}
@font-face {
    font-family: 'Alfa';
    src: url(../fonts/Alfa.ttf);
}